
   
    <div class="row noise bg-white noise">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <h2>Foot Stuff</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>    
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <h2>Stuff</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>    
        </div>
    </div> 


    
    <div class="row noise bg-yellow call-to-action-bar">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h2>Call to action ************************* Call to action</h2>
        </div>
    </div> 
    
    
<footer>   
    <div class="row noise bg-grey">
        <div class="col-sm-6 col-md-4 col-lg-4">
            <h2>footer area</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
            <h2>footer area</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
            <h2>footer area</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>            
        </div>
    </div>
        
    <div class="row bg-darkgrey cpyrt">
            <p style="float: left;">&copy;2016 <img src="{{asset "images/footer-flame.png"}}" title="" /><a href="https://www.rawinfosec.com" target="_blank" rel="noopener noreferrer" title="Visit RawInfoSec">RawInfoSec</a>. All Rights Reserved. </p>
            <p style="float: right;"><img src="{{asset "images/footer-cloudfare.png"}}" width="20px" /><img src="{{asset "images/footer-ghost.png"}}" width="20px" /></p>

    </div>
</footer>
